.flex {
        display: flex;
}
.col {

}
.c0 {
        flex: 0;
}
.c1 {
        flex: 1;
}
.c2 {
        flex: 2;
}
.c3 {
        flex: 3;
}
.c4 {
        flex: 4;
}
.c5 {
        flex: 5;
}
.c6 {
        flex: 6;
}
img {
    //width: 100%;
}